h4 {
    position: relative;
    color: rgba(0, 0, 0, .5);
    font-size: 1.5em
}
h4:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 7em;
    white-space: nowrap;
    color: rgb(253, 125, 36);
    animation: loading 8s linear;
}
@keyframes loading {
    0% {
        max-width: 0;
    }
}